body {
    margin: 0%;
    padding: 0%;
    width: 100vw;
    height: 100vh;
    
}

#page2 {
    height: 100vh;
    background-image: url("./assets/world-gif.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
    animation: mymove 1s infinite;
    overflow-x: hidden;
}


li {
    list-style: none;
    display: inline-block;
}

li a {
    color:white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.027);
    backdrop-filter: blur(2px);
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    border-left: 1px solid rgba(255, 255, 255, 0.61);
    position: relative;
    top: 10px;
    box-shadow: 3px 3px 3px rgba(255, 0, 0, 0.178);
}

.menu__container {
    display: flex;
    width: 90%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 5PX;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    transform-origin: center right 0px;
    transition: all 0.5s ease-out;
}


.menu__container ul {
    display: flex;
    align-items: center;
    gap: 40px;
    /* even spacing between links */
    margin-right: 40px;
    padding: 0;
    list-style: none;
}

.menu__container .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    height: 100%;
}

.menu__container .menu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
    transition: all 0.1s linear;
}

.menu__container li {
    width: 125px;
    height: 50px;
    transition: background-position-x 0.9s linear;
    text-align: center;

    a {
        font-size: 22px;
        color: #000000;
        text-decoration: none;
        transition: all 0.45s;
    }

    &:hover {
        background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
        animation: line 1.5s;
    }

    &:hover a {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: hsl(257, 100%, 13%);
    }

    &:not(:last-child) {
        margin-right: 30px;
    }
}

@keyframes line {
    0% {
        background-position-x: 390px;
    }
}



#gallery {
    background-color: rgb(0, 0, 0);
    height: 70px;
    text-align: center;
    color: #ffffff;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    font-family: "Cinzel Decorative", serif;
        font-weight: 900;
}

.character-gallery {
    display: grid;
    margin-left: 100px;
    margin-right: 100px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    gap: 20px ;
    justify-content: space-around;
    align-content: space-evenly;
}

.character-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.character-gallery {
    
    row-gap: 3.5rem;
}

.character-card{
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 350px;
    overflow: hidden;
    border-radius: 20px;
}

.card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.character-detail {
    width: 170px;
    /* height: 100px; */
    background-color: white;
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
    text-align: center;
}

/* .card__description {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
} */

.card__title {
    font-size: var(--h2-font-size);
    font-weight: 500;
    color: var(--title-color);
    margin-bottom: .75rem;
}


.character-card:hover .character-detail {
    width: 170px;
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.character-card:hover {
    animation: remove-overflow 2s forwards;
}

.character-card:not(:hover) {
    animation: show-overflow 2s forwards;
}

.character-card:not(:hover) .character-detail {
    animation: remove-data 1s forwards;
}


@keyframes show-data {
    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow {
    to {
        overflow: initial;
    }
}

@keyframes remove-data {
    0% {
        transform: translateY(-7rem);
    }

    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }

    50% {
        overflow: hidden;
    }
}